{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>charging stations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" >
</head>
<body>
    <div class="jumbotron">
      <div class="container">
                <!--div class="header clearfix"-->
        {% include 'header.html'%}
          <h3 class="text-muted">ChargingAround</h3>
                    <!--/div-->

        {% block main_content %}

        {% endblock %}

          </div>
        </div>
      <footer class="footer">
          {% include 'footer.html' %}
      </footer>
</body>
</html>