{% extends 'base.html' %}
{% block main_content %}

<h1>Charge your car!</h1>
<br><br>
<form method="post" action="./">
    {% csrf_token %}
    <!--table-->
        {{form}}
    <!--/table-->
    <input type="submit" class="btn btn-success" value="Search"/>
</form>

<!-- 1 -->

{% if charging_points %}

    <script type="text/javascript" src = "http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
    // var latlng = new google.maps.LatLng(60.388758, 5.328084);//"{{ center.location.y }}", "{{ center.location.x}}");
        var latlng = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");
        var mapOptions = {
        zoom: 12,
        center: latlng,
        mapTypeControl: false,
        navigationControlOptions:{style: google.maps.NavigationControlStyle.SMALL},
        mapTypeId: google.maps.MapTypeId.ROADMAP};
        map = new google.maps.Map($('.map')[0], mapOptions);

        var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "My location"});

        {% for charging_point in charging_points %}
            latlng = new google.maps.LatLng("{{charging_point.location.y}}", "{{ charging_point.location.x }}");
            new google.maps.Marker({
            position: latlng,
            map: map,
            title: "{{ charging_point.charge_id }}"});

        {% endfor %}
        });
    </script>

    <div class="map" style="width: 600px; height: 600px;"></div>
{% endif %}
{% endblock %}