
<!-- from index 1 -->

{% if charging_points %}
<h2>Charges near you</h2>
<ul>
    {% for charging_point in charging_points %}
    <li><b>{{charging_point.charge_id}}</b>: distance: {{charging_point.distance}}</li>
    {% endfor %}
</ul>
{% endif %}